In [3]:
import pandas as pd
import numpy as np

In [4]:
my_2darray = np.array([[1, 2, 3], [4, 5, 6]])

In [7]:
pd.DataFrame(my_2darray)

   0  1  2
0  1  2  3
1  4  5  6

In [13]:
(
    pd.DataFrame(my_2darray)
)

   0  1  2
0  1  2  3
1  4  5  6

In [11]:
type(t)

pandas.core.frame.DataFrame